.tabs {
    display: flex;
    margin: 20px;
}

.tabs div {
    color: black;
}

.tabs .active {
    color: red;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product-item {
    width: 200px;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-item p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
